lab2/ schema for weekdays.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- selection for weekdays -->
      <xs:element name="weekdays">
         <xs:complexType>
               <xs:choice>
                  <xs:element name="integer">
                     <xs:simpleType>
                           <xs:restriction base="xs:integer">
                              <xs:minInclusive value="1"/>
                              <xs:maxInclusive value="7"/>
                           </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="string">
                     <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="Saturday"/>
                              <xs:enumeration value="Sunday"/>
                              <xs:enumeration value="Monday"/>
                              <xs:enumeration value="Tuesday"/>
                              <xs:enumeration value="Wednesday"/>
                              <xs:enumeration value="Thursday"/>
                              <xs:enumeration value="Friday"/>
                           </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:choice>
         </xs:complexType>
      </xs:element>
</xs:schema>
